extend layout

block content
  p
    | Username: <input id="username" />
  p
    | Password: <input id="password" type="password" />
  p
    <button id="submit" onclick="getRecentData()">Log in </submit>