extend layout

block content
  table
    thead.dataHeader
      tr
        th
          | Dataset
        th
          | GP
        th
          | PA
        th
          | HR
        th
          | R
        th
          | RBI
        th
          | SB
        th
          | BB%
        th
          | K%
        th
          | ISO
        th
          | BABIP
        th
          | AVG
        th
          | OBP
        th
          | SLG
    tbody.dataContent
      tr.career
        td
          | Career Average
      tr.threeYear
        td
          | 3 Year Average
      tr.currentYear
        td
          | Current Year