extend layout

block content
  input(id="playerSearch", placeholder="Enter player name")
  button(id="btnSearch")
  table
    thead.dataHeader
      tr
        th
          | Dataset
        th
          | GP
        th
          | PA
        th
          | HR
        th
          | R
        th
          | RBI
        th
          | SB
        th
          | BB%
        th
          | K%
        th
          | ISO
        th
          | BABIP
        th
          | AVG
        th
          | OBP
        th
          | SLG
    tbody.dataContent
      tr#careerAverage
        td
          | Career Average
      tr#threeYearAverage
        td
          | 3 Year Average
      tr#currentYear
        td
          | Current Year