doctype html
html
  head
    title #{title} - Beer Tracker
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/jquery-2.1.4.min.js')
    script(src='/scripts/processTable.js')  
    body(onload="getRecentData()")
    header
      h1 Beer Tracker
    .container
      .main-content
        block content