doctype html
html
  head
    title #{title} - Baseball Stat Calculator
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/jquery-2.1.4.min.js')
    script(src='/scripts/processTable.js')  
    body
    header
      h1 Baseball Stat Calculator
    .container
      .main-content
        block content